.espaco{
    padding-top: 40px;
}
.footer{
    height: 35px;
    text-align: center;
    position: absolute;
    bottom: 0;
    background-color: darkslategrey;
    width: 100%;
}

.footer p{
    color: white
}

.footer p a {
    text-decoration: none;
}

.footer a:hover{
    color: black;
}